    <!--Bottom Nav -->
    <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
          <h6 class="display-10 navbar-text">&nbsp;&copy; Copyrights 2022</h6>
        </nav>
    </footer>